.board {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    grid-gap: 1px;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    background-color: #d4a539!important;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
}

.stone {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
.square {
    border-style: solid;
    border-width: 1px;
}
.black {
  background-image: url('black_stone.png');
  background-size: cover;
}

.white {
  background-image: url('white_stone.png');
  background-size: cover;
}